@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

* {
    font-family: "Google Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    -webkit-font-smoothing: antialiased;
}